<h1>{{title}}</h1>
<h2>Account Information</h2>
    <form>
        <p>*First Name</p>
        <input type='text'
        name="firstName"
        required
        [(ngModel)]="user.firstName"
        #firstName="ngModel"
        />
        <p class= 'warning' *ngIf='firstName.errors'> First name is required. </p>{{firstName.errors | json}}<br>
        <p>*Last Name</p>
        <input type='text' 
        name="lastName"
        required
        [(ngModel)]="user.lastName"
        #lastName="ngModel"
        />
        <p class= 'warning' *ngIf='lastName.errors'> Last name is required. </p>{{lastName.errors | json}}<br>
        <p>*Email</p>
        <input type='text'
        name="email"
        required 
        pattern = "^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"  
        [(ngModel)]="user.email"
        #email="ngModel"
        />
        <p class= 'warning'> Email must be valid. </p>{{email.errors | json}}<br>
        <p>*Password</p>
        <input type='password'>
        <p class= 'warning'> Pass must be 16 characters long. </p><br>
        <p>*Password Confirmation</p>
        <input type='password'>
        <p class= 'warning'> Pass cofirm must match password. </p><br>
        <p>*Street Address</p>
        <input type='text'>
        <p class= 'warning'> Address is required </p><br>
        <p>*Unit/Apt #</p>
        <input type='text'><br>                                
        <p>*City</p>
        <input type='text'>
        <p class= 'warning'> City is required </p><br>
        <p>*State</p>
        <input type='text'>
        <p class= 'warning'> State is required </p><br>    
        <input type='submit' value='Register'>
    </form>            