<h1>{{title}}</h1>
<h2>Account Information</h2>
    <form (submit)='onSubmit()'>
        <p>*First Name</p>
        <input type='text'
        name="firstName"
        required
        [(ngModel)]="user.firstName"
        #firstName="ngModel"
        />
        <p class= 'warning' *ngIf='firstName.errors'> First name is required. </p>{{firstName.errors | json}}<br>

        <p>*Last Name</p>
        <input type='text' 
        name="lastName"
        required
        [(ngModel)]="user.lastName"
        #lastName="ngModel"
        />
        <p class= 'warning' *ngIf='lastName.errors'> Last name is required. </p>{{lastName.errors | json}}<br>

        <p>*Email</p>
        <input type='text'
        name="email"
        required 
        pattern = "^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"  
        [(ngModel)]="user.email"
        #email="ngModel"
        />
        <p class= 'warning' *ngIf='email.errors'> Email must be valid. </p>{{email.errors | json}}<br>

        <p>*Password</p>
        <input type='password' 
        name="pass"
        required
        minlength="16" 
        [(ngModel)]="user.pass"
        #pass="ngModel" 
        />
        <p class= 'warning' *ngIf='pass.errors'> Pass must be 16 characters long. </p>{{pass.errors | json}}{{user.pass | json}}<br>

        <p>*Password Confirmation</p>
        <input type='password'
        name="confirm"
        required
        [(ngModel)]="user.confirm"
        #confirm="ngModel"
        />
        <p class= 'warning' *ngIf='user.confirm!=user.pass'> Pass cofirm must match password. </p>{{confirm.errors | json}}{{user.confirm | json}}<br>

        <p>*Street Address</p>
        <input type='text'
        name='street'
        required
        [(ngModel)]='user.street'
        #street='ngModel'
        />
        <p class= 'warning' *ngIf='!user.street!'> Address is required </p>{{street.errors | json}}<br>

        <p>*Unit/Apt #</p>
        <input type='text'><br>  

        <p>*City</p>
        <input type='text'
        name='city'
        required
        [(ngModel)]='user.city'
        #city='ngModel'
        />
        <p class= 'warning' *ngIf="city.errors"> City is required </p>
        {{city.errors | json}}<br>
        
        <p>*State</p>
        <input type='text'
        name='state'
        required
        [(ngModel)]='state.city'
        #state='ngModel'
        />
        <p class= 'warning' *ngIf='state.errors'> State is required </p>{{city.errors | json}}<br>    
        <input type='submit' value='Register'>
    </form>            